body {
  background-color:#246D9A;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  width: 400px;
  height: 400px;
}

.mainCircle {
  background-color: white;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  width: 228px;
  height: 228px;
  /* position: relative; */
  border-radius: 50%;
}

.smallerCircle1 {
  top: 50%;
  /* left: 50%; */
  /* margin: -200px; */
  width: 200px;
  height: 200px;
  /* position: absolute; */
  border-radius: 50%;
}

.smallerCircle2 {
  background-color: #246D9A;
  /* top: 50%; */
  /* left: 50%; */
  /* margin: 0 0; */
  width: 170px;
  height: 170px;
  position: absolute;
  border-radius: 50%;
}



.sp-pie {
  width: 400px;
  height: 400px;
}

.sp-pie {
  transform: rotate(-87deg);
  stroke-width: 2px;
  fill: transparent;
}

.sp-pie-slice-1 {
  stroke: #C42F2F;
  stroke-dasharray: 11.5 1
}

.sp-pie-slice-3 {
  stroke:#6A8798;
  stroke-dasharray: 0, 50, 11.5, 1, 11.5, 1;
}

.sp-pie-slice-2 {
  stroke: #B9C6CE;
  stroke-dasharray: 11.5, 1, 11.5, 1, 11.5, 1, 11.5, 51;
}


.sp-pie-2 {
  width: 400px;
  height: 400px;
}

.sp-pie-2 {
  transform: rotate(-87deg);
  stroke-width: 3;
  fill: transparent;
}

.sp-pie-2-slice-1 {
  stroke: #C42F2F;
  stroke-dasharray: 11.5 1
}

.sp-pie-2-slice-2 {
  stroke:#6A8798;
  stroke-dasharray: 0, 50, 11.5, 1, 11.5, 1;
}

.smallerCircle3 {
  background-color: yellow;
  opacity: 0.5;
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.inline{
  display: inline-block;
}

.push{
  position  : relative;
  width: 80px;
  height: 80px;
  border: 4px solid #246D9A;
}


.push-bottom-right{
  border-right: 2px solid #246D9A
}
.push-bottom-left{
  border-left: 2px solid #246D9A
}

.rw{
  margin-bottom:-9px;
  
}

.b-r{
  border-bottom-right-radius : 100%;
}

.b-l{
  border-bottom-left-radius : 100%;
}


.t-r{
  border-top-right-radius : 100%;
} 

.green{
  background-color : white;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  opacity: 0.3;
  width: 166px;
  height: 86px;
  z-index: 1;
}

.yellow{
  background-color : white;
opacity: 0.3;
  border-right: 3px solid #246D9A;
  z-index: 1;
}

.blue{
  background-color : white;
  opacity: 0.3;
  border-left: 3px solid #246D9A;
  z-index: 1;

}

.wrap{
  width: 174px;
    height: 174px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    margin: -160px 113px;
    background-color: #246D9A;
    top: 10vh;  
}

.wrap-in{
  position: relative;
  top:-2px;
}


  .center {
    z-index: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    top: 33%;
    left: 34%;
    /* margin: -122px 0 0 -122px; */
    background-color: #246D9A;
    border: 4px solid #246D9A;
}
div.circTxt {
  /*allows for centering*/
  display: inline-block;
  /*adjust as needed*/
  margin-bottom: 269px;
  color: whitesmoke;
}

div.circTxt span {
  font-size: 25px;
  text-align: center;
  position: absolute;

}

 .magnifier {
  position: absolute;
  top: 31%;
  left: 17%;
}

.visit {
  position: absolute;
  top: 31%;
  left: 25%;
}
